<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>129</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>128</string>
							<key>Timestamp</key>
							<string>719851112.645852</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>NewsCatcher/Modules/Feed/FeedView/FeedViewController.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>            UIView.animate(withDuration: 0.3) { // TODO: Check Probably it's no needed
</string>
						<key>leading</key>
						<string>    func stopRefreshControlAnimation() {
        if let refreshControl = feedView.tableView.refreshControl, refreshControl.isRefreshing {
</string>
						<key>trailing</key>
						<string>                refreshControl.endRefreshing()
            }
        }
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>29</string>
							<key>EndingLineNumber</key>
							<string>50</string>
							<key>StartingColumnNumber</key>
							<string>24</string>
							<key>StartingLineNumber</key>
							<string>50</string>
							<key>Timestamp</key>
							<string>720110869.554785</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>NewsCatcher/Modules/Article/ArticlePresenter.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>error</string>
						<key>leading</key>
						<string>
    private func handleError(_ error: NetworkError) {
        // TODO: Create </string>
						<key>trailing</key>
						<string> handling cases
        switch error {
        default:
</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>TODOs</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>23</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>22</string>
					<key>Timestamp</key>
					<string>720103428.460197</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>NewsCatcher/Modules/Feed/FeedView/FeedCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        static let dateAndSourceLabelText = " Source: "
    }
</string>
				<key>trailing</key>
				<string>    var imageHeightRatio: CGFloat = 0.562

    private lazy var dateAndSourceLabel = UILabel(textStyle: .footnote)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
